* {
    all: unset;
    font-family: FontAwesome, "Iosevka NF";
    font-size: 11pt;
}

button {
    color: rgba(205, 214, 244, 0.5);
    padding: 0 13px;
}

button.active,
button:hover {
    color: rgba(205, 214, 244, 1);
}

widget > label {
    padding: 0 13px;
    color: rgba(205, 214, 244, 1);
}

